@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
  font-family: Segoe, "Segoe UI";
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
	
}

* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

/* navigation */
.topnav {
  background-color: #ff5151;
  overflow: hidden;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Add an active class to highlight the current page */
.topnav a.active {
	background-color: #FF2A2A;
	color: white;
	border-bottom: thin;
	border-bottom-color: #171717;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.logo{
	width: 30%;
	margin: 5px;
}

/* Header Page 1 */
.header {
	background-color: #FFFFFF;
	padding: 20px;
	height: auto;
	text-align: center;
	color: white;
	}

.header p1{
	margin-top: 50px;
	font-size: 25px;
}


/* Content Page 1 */
.content{
	padding-top: 2%;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 2%;
}


.content h2{
	font-family: 'Germania One', cursive;
	
}

/* Header Page 2 */
.header1 {
	background-image: url("../imgs/sitebanner.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 7%;
	height: auto;
	text-align: center;
	color: white;
	}

.header1 p1{
	margin-top: 50px;
	font-size: 25px;
}

.header1 h2{
	font-family: 'Germania One', cursive;
}

/* Columns */
.left-column {
  width: 65%;
  position: relative;
}
 
.right-column {
  width: 35%;
  margin-top: 60px;
}

/* Left Column */
.left-column img {
  width: auto;
  position: absolute;
}
 
.left-column{
	background-image: url("../imgs/item1show.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

/* Columns */
.left-column1 {
  width: 65%;
  position: relative;
}

/* Left Column */
.left-column1 img {
  width: auto;
  position: absolute;
}
 
.left-column1{
	background-image: url("../imgs/item2show.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

/* Columns */
.left-column3 {
  width: 65%;
  position: relative;
}


/* Left Column */
.left-column3 img {
  width: auto;
  position: absolute;
}
 
.left-column3{
	background-image: url("../imgs/item3show.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}


/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
font-family: 'Germania One', cursive;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Cable Configuration */
.cable-choose {
  margin-bottom: 20px;
}
 
.cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}
 
.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}
 
.cable-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
 
.cable-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.cable-config a:before {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}
 
.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

/* Content Page 1 */
.content1{
	background-image: url("../imgs/maskgroup3.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 7%;
	height: auto;
	color: white;
	text-shadow: 0 0 5px black;
}


.content1 h2{
	font-family: 'Germania One', cursive;
}

.content1-1{
	background-image: url("../imgs/maskgroup7.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 7%;
	height: auto;
	color: white;
	text-shadow: 0 0 5px black;
}

.content1-1 h2{
	font-family: 'Germania One', cursive;
	
}

/* Content Page 1 */
.content2{
	padding: 7%;
	height: auto;
	color: white;
	text-shadow: 0 0 5px black;
}

.id{
	border-radius: 50%;
}

.row {
  margin: 8px -16px;
	color: black;
	text-align: center;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}
.content2 h2{
	font-family: 'Germania One', cursive;
}

.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}


.icon{
	color: white;
}


.icon-bar {
  width: 20%; /* Full-width */
  overflow: auto; /* Overflow due to float */
	display: block;
	color: white;
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 10%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 1px 1px; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 20px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: #CBCBCB; /* Add a hover color */
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
	.content1 {
		height: 10%;
	}
}

@media screen and (max-width: 600px) {
	.content1 p{
		visibility: collapse;
	}
}

@media screen and (max-width: 600px) {
	.content1 h2{
		text-align: center;
		font-size: 40px;
	}
}

@media screen and (max-width: 600px) {
	.content1-1 p{
		visibility: collapse;
	}

	.content1-1 h2{
		text-align: center;
		font-size: 40px;
	}
}

/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }
 
  .left-column,
  .right-column {
    width: 100%;
  }
 
  .left-column {
    width: 100%;
	height: 200px;
    right: 0;
	background-size: contain;
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}
 
@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}